#head_about {
    text-align: center;
    padding-top: 30px;
    margin-top: 65px;
}

#banner_about {
    max-width:500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.about_subhead {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-size: 15px;
    color: #181818;
    z-index: 1000;
    text-align: left;
}

#containers {
    margin-left: 20px;
    margin-right: 20px;
    color: #181818;
}

.about_body {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.certificate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

@media screen and (max-width : 400px) {
    .about_body {
        max-width: 320px;
    }

    #banner_about {
    max-width:300px;
   
   
}

}