#chat_head {
    margin-top: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
}

#chat_subhead {
    text-align: center;
    color: rgb(177, 177, 177);
    font-size: 20px;
    font-weight: 500;
}

#chat_area {
    background-color: #ffffff;
    border-radius: 20px;
    height: 690px;
    width: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chatbox_head {
    background-color: black;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 10px 10px 10px 20px;

}

#chatbot_head_head {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

#chatbot_head_subhead {
    font-size: 13px;
    color: rgb(119, 119, 119);
    font-weight: 500;
}

#signinbtn {
    color: white;
    border: none;
    background-color: #0058a0;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px #181818;
}

#signoutbtn {
    color: black;
    border: none;
    background-color: #ffffff;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px #181818;
}

ul, li {
    text-align: left;
    list-style: none;
  }
  
  p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
    margin-right: 10px;
    font-size: 12px;
    text-align: right;
  }
  .received p {
    background: #e5e5ea;
    color: black;
    margin-left: 10px;
    font-size: 12px;
    text-align: left;
  }

mainchat {
  padding: 10px;
  height: 80vh;
  margin: 0px 0 0px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

mainchat::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  mainchat::-webkit-scrollbar-track {
    background: #1e1e24;
    border-radius: 10px;
  }
  
  mainchat::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 10px;
  }

  input {
    line-height: 1.5;
    font-size: 15px;
    background: rgb(255, 255, 255);
    color: #181818;
    outline: none;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
  }

  #message_btn {
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 0px;
    position: relative;
    left: 20px;
    border-radius: 50px;
    font-size: 15px;
  }