df-messenger {
    --df-messenger-bot-message: #ffffff;
    --df-messenger-button-titlebar-color: #007c78;
    --df-messenger-chat-background-color: #c7c7c7;
    --df-messenger-font-color: rgb(0, 0, 0);
    --df-messenger-send-icon: #000000;
    --df-messenger-user-message: #90ffa8;
   }

