.banner {
    width: 100%;
    height: 90vh;
    background-image: url('../media/mobile-banner.jpg');
    background-size: cover;
    background-position: 2% 30%;
    
    background-repeat: no-repeat;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    font-size: 17px;
    margin-left: -30px;
    color: rgba(255, 255, 255, 0.498);
}

.list {
    margin-top: -100px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}

.listItem {
    background-color: rgb(30, 83, 106);
    color: white;
    font-weight: 500;
    font-size: 15px;
    width: 330px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
}

.card-name {
    font-weight: 700;
    font-size: 20px;
    color: rgb(142, 255, 255);
}

.text-box {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 50px;
    word-wrap: break-word;
   
}

.heading-primary-main {
    word-wrap: break-word;
    display: block;
    font-size: 35px;
    font-weight: 700;
    

}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: -25px;
    margin-top: 30px;
    word-wrap: break-word;
    position: relative;
    top: -30px;
}

#button {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
    color: #4a4a4a;
    font-weight: 400;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
    border: none;
    box-shadow: 0 0 5px 0px #212121;
    cursor: text;
    justify-content: center;
    align-content: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -250px;
}



#button:active {
    border: none;
    text-decoration: none;
}

#go-button {
    border: none;
    font-size: 22px;
    padding-bottom: 3px;
    background-color: rgb(211,211,211);
    border-radius: 0px 50px 50px 0px;
}

#button2 {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    padding: 3px 30px 28px 30px;
    border-radius: 50px;
    border: 2px solid #00D1FF;
    cursor: pointer;
    box-shadow: 0 0 10px 0px #00D1FF;
}

.open_up {
    width: 60%;
    object-fit: contain;
    height: auto;
    max-width: 100%;
}

#description {
    background-color: rgb(247, 174, 79);
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    line-height: 20px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
}

.quality {
    background-color: #181818;
}

.tab {
    border-radius: 15px 50px 30px;
    background-color: rgba(24, 199, 199, 0.425);
}

/* .review {
    flex-wrap: nowrap;
    overflow-x: scroll;
} */

#subtitle_button {
    font-size: 15px;
    position: relative;
    top: -50px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.text-center-title {
    text-align: center;
    color: rgb(32, 32, 32);
    font-size: 35px;
    font-weight: 700;
}

.typewrite {
    color: #00D1FF;
}

#flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

#flex-list {
    margin-left: 20px;
    margin-right: 20px;
}

.offer_img {
    max-width: 250px;
    height: 250px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.offer_title {
    color: #181818;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.offer_link {
    text-decoration: none;
    background-color: rgb(18, 18, 18);
    color: white;
    font-weight: 600;
    border-radius: 40px;
    font-size: 20px;
    padding: 7px 20px 7px 20px;
}

.text_white {
    color: white;
}

.test_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.test_flexitem {
    box-shadow: 2px 2px 5px rgb(67, 67, 67);
    width: 250px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #181818;
    margin-top: 10px;
    margin-bottom: 10px;
}

.test_para {
    font-size: 20px;
    width: 210px;
    margin-bottom: 20px;
    color: white;
}

.test_name {
    font-weight: 700;
    font-size: 17px;
    color: orangered;
}