.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../media/mobile-banner.jpg');
    background-size: cover;
    background-position: 2% 30%;
    background-repeat: no-repeat;
    margin-top: 40px;
}

.text-box {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%)
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 50px;
    word-wrap: break-word;
}

.heading-primary-main {
    word-wrap: break-word;
    display: block;
    font-size: 38px;
    font-weight: 500;

}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}

#button {
    text-decoration: none;
    background-color: #e8be00;
    color: #1b1152;
    font-weight: 700;
    font-size: 25px;
    padding: 8px 13px 8px 13px;
    border-radius: 10px;
    cursor: pointer;
}

#button2 {
    text-decoration: none;
    background-color: #e8be00;
    color: #1b1152;
    font-weight: 700;
    font-size: 25px;
    padding: 8px 13px 28px 13px;
    border-radius: 10px;
    cursor: pointer;
}

.open_up {
    width: 60%;
    object-fit: contain;
    height: auto;
    max-width: 100%;
}

#description {
    background-color: rgb(247, 174, 79);
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    line-height: 20px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
}

.quality {
    background-color: rgb(231, 228, 228);
}

.tab {
    border-radius: 15px 50px 30px;
    background-color: rgba(24, 199, 199, 0.425);
}

/* .review {
    flex-wrap: nowrap;
    overflow-x: scroll;
} */

#subtitle_button {
    font-size: 15px;
    position: relative;
    top: -50px;
    font-weight: 700;
    color: #1b1152;
    text-decoration: none;
}