#form_fill {
    text-align: center;
    padding-top: 60px;
}

#form_title {
    font-size: 30px;
    font-weight: 700;
    color: #985200;
    padding-bottom: 50px;
}

#form_input {
    border-radius: 50px;
    border: none;
    background-color: #FFF1A9;
    color: #AF9300;
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#click_button2 {
    border-radius: 100px;
    border: none;
    padding: 8px 16px 8px 16px;
    font-size: 20px;
    background-color: #A0DDFF;
    color: #00659E;
    font-weight: 700;

}

#click_button3 {
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 150px;
    padding: 20px 16px 8px 16px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}


#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
}

#mood_heading {
    margin-top: 100px;
    text-align: center;
    color: rgb(32, 32, 32);
    font-size: 35px;
    font-weight: 700;
}

#newNavFlex {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 750px) {
    header {
        display: none;
    }
}