#player-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btnsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Player {
    text-align: center;
    background-color: #2E2E2E;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 10px;
}

#Song_name {
    color: #ffb963;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
}

#Singer_name {
    color: #a7a7a7;
    font-size: 12px;
    font-weight: 300;
    margin-top: -3px;

}


@media screen and (max-width: 480px) {
    #player-box {
        background-color: black;
        color: white;
        width: 90%;
        height: 70px;
        position: fixed;
        bottom: 10%;
        text-align: center;
        align-content: center;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;

    }
}

@media screen and (min-width: 480px) and (max-width: 750px) {
    #player-box {
        background-color: black;
        color: white;
        width: 60%;
        height: 70px;
        position: fixed;
        bottom: 10%;
        text-align: center;
        align-content: center;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;

    }
}

@media screen and (min-width: 750px) {
    #player-box {
        background-color: black;
        color: white;
        width: 15%;
        height: 25%;
        position: fixed;
        bottom: 20%;
        text-align: center;
        border-radius: 5px;
        margin-left: 10px;

    }
}