#head_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#header_song {
    width: 100%;
    background-color: #007094;
}

#page_color {
    background-color: #181818;
}

#song_head {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #985200;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#player {
    text-align: center;
    margin-top: 70px;
    background-color: #2E2E2E;
    max-width: 380px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 10px;
}

#song_name {
    color: #ffb963;
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
}

#singer_name {
    color: #a7a7a7;
    font-size: 15px;
    font-weight: 300;
    margin-top: -3px;
    
}

#click_button {
    border-radius: 100px;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    background-color: #ffffff;
    color: #181818;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#notifications {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    color: rgb(198, 198, 198);
    font-size: 12px;

}

#song_heading {
    margin-top: 65px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    padding-top: 50px;
}

#song_chat {
    align-items: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#spacing {
    height: 200px;
}

#kaira-pic {
    width: 70px;
    margin-top: 10px;
}

#fixNav {
    position: fixed;
}

#newNavFlex2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: rgb(24,24,24);
    background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(24,24,24,1) 75%, rgba(57,57,7,1) 84%, rgba(124,124,0,1) 93%, rgba(199,197,0,1) 100%);
}


@media screen and (max-width: 750px) {

    #newNavFlex2 {
        flex-direction: column;
    }

}



#fixedplayer {
    width: 50vh;
    background-color: #985200;
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}

.nav3-1 {
    position: fixed;
    bottom: 50%;
    width: 90%;
    
}