#therapist_heading {
    margin-top: 100px;
    text-align: center;
    color: rgb(32, 32, 32);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

#therapist_c {
    font-size: 18px;
    background-color: #ffa323;
    color: #633a00;
    width: 160px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    text-decoration: none;
}

#therapist_t {
    font-size: 18px;
    background-color: #b56a00;
    color: #ffffff;
    width: 160px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-decoration: none;
}

#t-c-desc {
    text-align: center;
    font-size: 15px;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#therapist_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.therapist_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 25% 25%; 
    border-radius: 10px;
    margin-right: 10px;
}


.therapist_card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    box-shadow: 2px 2px 6px #808080;
    border-radius: 10px;
    padding: 10px;
}

.therapist_title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}

.therapist_tagline {
    width: 180px;
    margin-bottom: 5px;
    font-size: 12px;
}


.therapist_experience {
    width: 180px;
    margin-bottom: 10px;
    font-size: 12px;
}

.therapist_special {
    width: 180px;
    margin-bottom: 10px;
    font-size: 12px;
}

.therapist_price {
    margin-bottom: 5px;
    font-size: 12px;
    color: #b56a00;
    font-weight: 600;
}

.therapist_language {
    font-size: 12px;
    margin-bottom: 10px;
}

.therapist_button {
    text-decoration: none;
    width: 300px;
    background-color: #181818;
    color: white;
    font-weight: 400;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}