.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
  }
  
  .time-divider {
    margin: 0 5px;
  }
  
  .time-up {
    font-size: 20px;
    color: #f00;
    font-weight: 600;
  }
  